@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    It’s often that you have a pet (say a cat or a dog), and you have an urgent business travel coming up or you have to travel to attend your close friend’s marriage but none of your friends or family is available to take care of your beloved pet.
    At PetMyPet we believe that pets are an extension to one’s own family, and they deserve the best! We are developing a web application that will allow you to find and connect with people willing to take care of your pet when you’re not around. You'll have more time for other tasks; but your pet will be happy and so will you.
    PetMyPet is a web application that allows users to register and create an account. Then, as a registered user on PetMyPet you can either post a request for a pet-sitter with all the essential details of your pet like age, personality while also putting information like days required, hourly rate, etc. or you can sign in and ask to pet-sit someone else’s pet.
    The application has a filter option through which the users can filter requests based on Animal, Location, and Price. The pet owner who has made a request for a pet-sitter possesses a list of pet-sitters willing to take care of his pet based on his desires, he can then choose a specific/desired pet-sitter and communication between the two individuals can take place at their own discretion.
</p>