<!DOCTYPE html>
<html>
<head>
    <title>Pet_My_Pet</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        function doSubmit() {    
        var form = $('<form action=@Url.Action("AddNew", "Home") method="post"'+'</form>');
        $('body').append(form);
        form.submit();
    }

    </script>
        <h2 style="color: black; text-align: center;">My Dashboard</h2>
        <style>
            td {
                text-align: left;
                padding: 30px;
                height: 30px;
                text-align: center;
                font-weight: bold;
            }

            th {
                border: 1px solid black;
                text-align: center;
                padding: 6px;
                color: white;
                background-color: #0e131c;
            }
        </style>
</head>



<body>
    <div class="container">
        <br><br>
                @using (Html.BeginForm("CreateForm", "Home", FormMethod.Post))
                {
                   <button type="submit" class="btn pull-left btn-danger">Create POST</button>
        }
        @using (Html.BeginForm("Dashboard", "Home"))
        {
            <button type="submit" class="btn pull-left btn-danger">Refresh</button>
        }
        <br><br /><br />
    </div>      

<div style="width:90%;">
    <table id="petTable" class="table table-striped">         
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>Location</th>
                <th>Description</th>
                <th>Created Date</th>   
                <th>SubmitRequest</th>             
            </tr>
        </thead>
    </table>
</div>   
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
 
    <script>
        $(document).ready(function () {
            var oTable = $('#petTable').DataTable({
                "ajax": {
                    "url":'/home/GetData',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [                    
                    { "data": "Title", "autoWidth": true },
                    { "data": "Category", "autoWidth": true },
                    { "data": "Price", "autoWidth": true },
                    { "data": "Location", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    { "data": "DateTime", "autoWidth": true },
                    { "data": "Id","width":"50px","render":function(data)
                    { return '<a type="submit" class="btn btn-success" onClick="doSubmit()">Request</a>'; }
                  }
                ]
            })
        })
    </script>
</body>
</html>